header {
    padding-top: 50px;
}

.header-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.header-list {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.42px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

